.header {
  background-color: purple;
  height: 70px;
}
.footer {
  background-color: orange;
  height: 70px;
}
.middle {
  display: flex;
}
.left {
  background-color: blue;
  width: 200px;
  height: 150px;
}
.right {
  background-color: green;
  width: 200px;
  height: 150px;
}
.main {
  background-color: red;
  width: 100%;
  height: 150px;
}

